@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

body {
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color;
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow-wrap: break-word;
}

p {
  font-size: 16px;
  color: $text-color;
  line-height: 26px;
  overflow-wrap: break-word;
}

h1 {
  font-size: 65px;
  line-height: 70px;
}

h2 {
  font-size: 40px;
  line-height: 55px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 20px;
}