body {
  font-family: $primary-font;
  font-size: 1rem;
  color: $text-color;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  letter-spacing: 0.5px;
  overflow-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: $text-color;
  line-height: 1.625;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

// Responsive Headlines with Media Queries
h1 {
  font-size: 65px;
  line-height: 1.1;
  
  @include desktop {
    font-size: 48px;
  }
  @include mobile {
    font-size: 36px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.2;

  @include mobile {
    font-size: 28px;
    line-height: 1.3;
  }
}

h3 {
  font-size: 28px;
  @include mobile {
    font-size: 22px;
  }
}

h4 { font-size: 23px; }
h5 { font-size: 20px; }