// 1. OWN VARIABLES
$primary-color: #6A0DAD;
$secondary-color: #ffffcc;
$secondary-color-transparent: rgba(255, 255, 204, 0.5);
$bg-color: #DFF1F4;
$text-color: #8C8C94;
$text-color-dark: #333333;
$white: #FFF;
$black: #000;
$black-grey: $text-color-dark;
$border-color: #8c8c9454;

$primary-font: 'Poppins', sans-serif;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);

// 2. BOOTSTRAP FEATURE-FLAGS
$enable-negative-margins: true; 
$enable-cssgrid: true; 
$enable-transitions: true;

// 3. BOOTSTRAP MAPPING
$primary: $primary-color;
$secondary: $secondary-color;
$body-bg: $white;
$body-color: $text-color;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "dark":       $text-color-dark,
  "light":      $bg-color
);

// 4. TYPOGRAFIE INTEGRATION (Synchronisation with Bootstrap)
$font-family-sans-serif:      $primary-font;
$font-family-base:            $font-family-sans-serif;
$font-size-base:              1rem; 

$h1-font-size:                65px;
$h2-font-size:                40px;
$h3-font-size:                28px;
$h4-font-size:                23px;
$h5-font-size:                20px;

$headings-font-weight:        700;
$headings-color:              $text-color-dark;
$headings-line-height:        1.2;

$line-height-base:            1.625;
$paragraph-margin-bottom:     1.5rem;