$bg-color:#DFF1F4;
$border-color: #8c8c9454;

$primary-color: #6A0DAD;
$secondary-color: #ffffcc;
$secondary-color-transparent: #ffffcc80;

$text-color: #8C8C94;
$text-color-dark: #333333;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);

// solid colors
$white: #FFF;
$black: #000;
$black-grey: $text-color-dark;

// Font Variables
$primary-font: 'Poppins',sans-serif;