// 1. LOGIK (function first)
@import "bootstrap/scss/functions";

// 2. Own variables and values
@import "variables"; 
@import "mixins";

// 3. FRAMEWORK CORE
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 4. GENERATE BOOTSTRAP 
@import "bootstrap/scss/bootstrap";

// 5. OWN CUSTOMUZE DESIGN
@import "typography";    
@import "buttons";    
@import "components/navigation";
@import "components/hero";
//@import "components/videos";