.about {
  position: relative;
  overflow: hidden;
  padding-block: 80px 160px;

  @include desktop {
    text-align: center;
    padding-block-end: 60px;
  }

  &-title {
    margin-block-end: 110px;
  }

  &-image {
    position: relative;
    text-align: center;

    &-shape1,
    &-shape2,
    &-shape3,
    &-shape4 {
      position: absolute;
      z-index: -1;
    }

    img {
      max-width: 80%;
      border-radius: 10px;
    }

    &-shape1 {
      @include desktop {
        inset-inline-start: -13% !important;
      }

      @include tablet {
        inset-inline-start: -17% !important;
      }
    }

    &-shape2 {
      @include desktop {
        inset-inline-end: 5% !important;
      }

      @include tablet {
        inset-inline-end: -10% !important;
      }
    }

    &-shape3 {
      @include desktop {
        inset-inline-end: -7% !important;
      }

      @include tablet {
        inset-inline-end: -9% !important;
      }
    }

    &-shape4 {
      @include desktop {
        inset-inline-start: -5% !important;
      }

      @include tablet {
        inset-inline-start: -15% !important;
      }
    }
  }

&-content {
    @include desktop {
      text-align: center;
      margin-block-end: 30px;
      padding-block-start: 50px;
    }

    h2 {
      margin-block-end: 30px;
      @include tablet {
        font-size: 35px;
        line-height: 40px;
      }
    }

    h3 {
      color: $primary;
    }

    p {
      font-weight: 400;
      margin-block-end: 30px;
    }

    &-list {
      margin-block-start: 50px;

      @include desktop {
        display: flex;
        justify-content: center;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-block-end: 15px;
          }

          i {
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 20px;
            border: 2px solid $primary-color;
            border-radius: 5px;
            margin-inline-end: 15px;
            color: $primary-color;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
          }

          p {
            font-weight: 500;
            margin-block-end: 0;
            display: inline-block;
            color: $text-color-dark;
            @include desktop-lg {
              font-size: 14px;
            }
            @include mobile {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .row.align-items-center {
    padding-block: 10px 65px;
  }

}
