.blog {
  margin-block-start: -150px;
  padding-block-end: 100px;
  @include mobile {
    margin-block-start: -100px;
  }
  &-post {
    padding-block-end: 100px;
    @include mobile {
      padding-block-end: 50px;
    }
    &-item {
      background-color: $white;
      box-shadow: 0px 20px 25px rgba(67, 103, 90, 0.1);
      border-radius: 10px;
      margin-block-end: 50px;
      padding: 15px 15px 20px;
      transition: 0.3s ease;

      // CSS Flexbox for equal height (BS5 natively)
      display: flex;
      flex-direction: column;
      height: 100%;

      &:hover {
        transform: scale(1.02);
      }
      @include desktop {
        margin-block-end: 30px;
      }
    }
    &-thumb {
      img {
        width: 100%;
        border-radius: 10px;
      }
      margin-block-end: 18px;
    }
    &-content {
      padding-inline: 8px;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;

      h2 {
        line-height: 28px;
        margin-block-end: 10px;
        a {
          font-size: 20px;
          font-weight: 600;
          display: block;
          color: $text-color-dark;
          text-decoration: none;
          transition: 0.3s ease;
          min-height: 56px;
          &:hover {
            color: rgba($color: $primary-color, $alpha: 0.7);
          }
        }
      }
      .post-author {
        display: flex;
        align-items: center;
        margin-block-start: auto;
        .thumb {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          overflow: hidden;
          margin-inline-end: 15px;
          img {
            width: 100%;
          }
        }
        .meta {
          h3 {
            font-size: 15px;
            margin-block-end: 0;
            font-weight: 600;
          }
          p {
            margin-block-end: 0;
            font-size: 14px;
          }
        }
      }
    }
    .see-all-post {
      margin-block-start: 40px;
      text-align: center;
      margin-inline: auto;
    }
  }
  .row .col-lg-4, .row .col-md-6 {
    margin-bottom: 20px;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-block-start: 30px;
    ul {
      padding: 0;
      margin: 0;
      .page-item {
        .page-link {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 500;
          padding: 0;
          text-align: center;
          border-radius: 4px;
          border: none;
          color: $text-color-dark;
          margin-inline-end: 20px;
          background-color: rgba($color: $primary-color, $alpha: 0.1);
          transition: all 0.3s ease-in-out;
          z-index: 99;
          position: relative;
          @include mobile {
            width: 60px;
            height: 60px;
            font-size: 25px;
            margin-inline-end: 15px;
          }
          &:hover {
            background: $primary-color;
            color: $white;
          }
        }
        &.active .page-link {
          background-color: $primary-color;
          color: $white;
        }
        &.prev, &.next {
          .page-link {
            @include mobile {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  &-single {
    position: relative;
    margin-block: -150px 50px;
    border-radius: 10px;
    @include mobile {
      margin-block-start: -100px;
    }
    &-post {
      padding: 50px 40px;
      background-color: $white;
      box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.1);
      border-radius: 20px;
      @include mobile {
        padding: 30px;
      }
      img {
        max-width: 100%;
        margin-block-end: 30px;
        border-radius: 20px;
      }
      .post-title {
        width: 90%;
        margin-block: 0 30px;
        margin-inline: auto;
        font-size: 35px;
        @include desktop {
          font-size: 30px;
          line-height: 40px;
          width: 100%;
        }
      }
      h2 {
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        margin-block-end: 20px;
        @include desktop {
          font-size: 25px;
          line-height: 40px;
        }
      }
      p {
        margin-block-end: 30px;
        &:last-child {
          margin-block-end: 0;
        }
      }
      ul {
        padding-inline: 0 20px;
        margin-block: 0 40px;
        li {
          list-style: none;
          display: block;
          position: relative;
          line-height: 28px;
          font-size: 18px;
          padding-inline-start: 30px;
          width: 65%;
          margin-block-end: 20px;
          @include tablet {
            width: 100%;
          }
          &::before {
            position: absolute;
            content: "";
            background: rgba($color: $primary-color, $alpha: 0.7);
            width: 12px;
            height: 12px;
            border-radius: 4px;
            inset-inline-start: 0;
            inset-block-start: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &-header {
      .post-meta {
        margin-block: 50px 0;
        margin-inline: auto;
        @include mobile {
          margin-block-start: 25px;
        }
        ul {
          margin-inline: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0;
          li {
            color: $text-color-dark;
            &:not(:last-child) {
              margin-inline-end: 30px;
            }
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            h5 {
              font-size: 18px;
              font-weight: 500;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
