.contact {
  padding-block-end: 100px;
  &-form {
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.1);
    padding: 50px 30px;
    margin-block-start: -150px;
    background: $white;
  }
}
