.contact {
  padding-block-end: 100px;
  &-form {
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.1);
    padding: 50px 30px;
    margin-block-start: -150px;
    background: $white;

    &-status {
      margin-top: 15px;
      padding: 10px;
      border-radius: 5px;
      text-align: center;

      &.success {
        background-color: $success-bg;
        color: $success-text;
        border: 1px solid $success-border;
      }

      &.error {
        background-color: $error-bg;
        color: $error-text;
        border: 1px solid $error-border;
      }
    }
  }
}
