.footer {
  position: relative;
  padding-block: 120px 100px;
  overflow: hidden;
  background: url(../images/footer/footer-transparent-bg.svg);
  background-position: top center;
  background-size: cover;
  @include mobile {
   padding-block: 120px 50px;
  }
  &-subscribe {
    &-title {
      h2 {
        text-align: center;
        margin-block: 0 60px;
        @include tablet {
          font-size: 35px;
        }
      }
    }
  }

  .footer-description {
    @include tablet {
      text-align: center;
    }
    @include mobile {
      margin-block-end: 30px;
    }

    img {
      margin-block-end: 20px;
      width: 40%;
    }

    p {
      color: $text-color;
      line-height: 36px;
    }

    a:hover {
      color: $text-color-dark;
    }

    &-social {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-inline-end: 10px;
        }

        a {
          display: block;
          color: $text-color;
          transition: 0.3s ease;

          &:hover {
            color: $text-color-dark;
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-widget {
    @include tablet {
      text-align: center;
      padding-block-start: 20px;
    }

    h4 {
      font-size: 22px;
      font-weight: 600;
      margin-block-end: 20px;
      @include mobile {
        font-size: 17px;
      }
    }

    &-list {
      text-align: start;

      @include tablet {
        text-align: center;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          a {
            color: $text-color;
            text-decoration: none;
            display: block;
            transition: all 0.5s ease-in-out;
            padding-block: 10px;
            @include mobile {
              font-size: 15px;
            }

            &:hover {
              color: $text-color-dark;
            }
          }

          i {
            padding-inline-end: 10px;
          }
        }
      }
    }
  }
}
