.main-nav {
  padding: 30px 35px 20px;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;

  // Headroom: Ein/Ausblenden beim Scrollen
  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &.headroom--pinned {
    transform: translateY(0);
  }

  // Headroom: Design-Anpassung wenn nicht am Seitenanfang
  &.headroom--not-top {
    background: $white;
    padding: 15px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    
    @include desktop {
      width: 100%;
      margin-block-start: 0;
      border-radius: 0;
      padding: 15px 30px;
    }

    .navbar-brand .logo-main {
      display: block;
    }
  }

  @include desktop {
    text-align: center;
    padding: 20px 30px;
    width: 95%;
    margin-block-start: 20px;
    margin-inline: auto;
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    left: 0;
    right: 0;
  }

  @include mobile {
    padding: 15px 20px;
  }

  .navbar-nav .nav-item .nav-link {
    color: $text-color-dark;
    padding-inline: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
    @include desktop {
      font-size: 16px;
      padding: 15px 0;
    }
  }

  .navbar-brand img {
    width: 65%;
    @include mobile {
      width: 120px;
    }
  }

  .navbar-toggler {
    outline: 0;
    padding: 0;
    border: 0;
    .icon-bar {
      width: 25px;
      height: 2px;
      background: $primary-color;
      transition: all 0.2s;
      display: block;
      &:not(:last-child) { margin-block-end: 5px; }
      &:nth-child(1) { transform: rotate(45deg); transform-origin: 10% 10%; }
      &:nth-child(2) { opacity: 0; }
      &:nth-child(3) { transform: rotate(-45deg); transform-origin: 10% 90%; }
    }
    &.collapsed .icon-bar {
      &:nth-child(1) { transform: rotate(0); }
      &:nth-child(2) { opacity: 1; }
      &:nth-child(3) { transform: rotate(0); }
    }
  }
}

// Globaler Fix für Anker-Sprünge
section[id] {
  scroll-margin-top: 100px;
  @include mobile {
    scroll-margin-top: 70px;
  }
}