.main-nav {
  padding: 30px 35px 20px;
  transition: all 0.3s ease-in-out;
  position: sticky; // Prevents disappearing in Chrome/Safari
  z-index: 1000;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;

  &.is-sticky {
    background: $white !important;
    padding: 15px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
    
    @include desktop {
      width: 100% !important;
      margin-block-start: 0 !important;
      border-radius: 0 !important;
      padding: 15px 30px !important;
    }

    .navbar-brand .logo-main {
      display: block;
    }
  }

  @include desktop {
    text-align: center;
    padding: 20px 30px;
    width: 95%;
    margin-block-start: 20px;
    margin-inline: auto;
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }

  @include mobile {
    padding: 15px 20px;
  }

  .navbar-nav .nav-item .nav-link {
    color: $text-color-dark;
    padding-inline: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    @include desktop {
      font-size: 16px;
      padding: 15px 0;
    }
  }

  .navbar-brand img {
    width: 65%;
    @include mobile {
      width: 120px;
    }
  }

  .navbar-toggler {
    outline: 0; padding: 0; border: 0;
    .icon-bar {
      width: 25px; height: 2px; background: $primary-color;
      transition: all 0.2s; display: block;
      &:not(:last-child) { margin-block-end: 5px; }
      &:nth-child(1) { transform: rotate(45deg); transform-origin: 10% 10%; }
      &:nth-child(2) { opacity: 0; }
      &:nth-child(3) { transform: rotate(-45deg); transform-origin: 10% 90%; }
    }
    &.collapsed .icon-bar {
      &:nth-child(1) { transform: rotate(0); }
      &:nth-child(2) { opacity: 1; }
      &:nth-child(3) { transform: rotate(0); }
    }
  }
}

// NATIVES SMOOTH SCROLLING
html {
  scroll-behavior: smooth;
}

// Global Offset for all links
section[id] {
  scroll-margin-top: 100px;
  @include mobile {
    scroll-margin-top: 70px;
  }
}