.service {
  padding-block: 40px 80px;

  @include mobile-xs {
    padding-block-end: 0;
  }
  .col-md-6 {
    &:nth-child(3n - 2) {
      .service-item {
        .service-icon {
          svg {
            path {
              &:first-child {
                fill: $service-icon-bg-1;
              }
            }
          }
        }
        &::after {
          background: $secondary-color;
        }
      }
    }
    &:nth-child(3n - 1) {
      .service-item {
        .service-icon {
          svg {
            path {
              &:first-child {
                fill: $service-icon-bg-2;
              }
            }
          }
        }
        &::after {
          background: $secondary-color;
        }
      }
    }
    &:nth-child(3n) {
      .service-item {
        .service-icon {
          svg {
            path {
              &:first-child {
                fill: $service-icon-bg-3;
              }
            }
          }
        }
        &::after {
          background: $secondary-color;
        }
      }
    }
  }
  &-item {
    position: relative;
    background: $white;
    box-shadow: 0px 20px 25px rgba(67, 103, 90, 0.1);
    margin-block: 10px 20px;
    border-radius: 10px;
    padding: 25px 20px 40px;
    transition: transform 0.3s $site-ease;
    overflow: hidden;

    // CSS Flexbox for equal height (BS5 natively)
    display: flex;
    flex-direction: column;
    height: 90%;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      inset-inline-start: 0;
      inset-block-end: 0;
      z-index: 1;
      transform: scaleX(0);
      transition: transform 0.5s $site-ease;
      transform-origin: right;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  &-icon {
    position: relative;
    width: 100%;
    height: 110px;

    svg {
      position: absolute;
      height: 100%;
      width: auto;
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }

    i {
      position: relative;
      inset-inline-start: 50%;
      inset-block-start: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: $black-grey;
      display: inline-block;
    }
  }

  &-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    img {
      width: 45%;
      padding-block-start: 20px;
    }

    h4 {
      margin-block-start: 20px;
      font-size: 22px;
      font-weight: 600;
      color: $primary-color;
    }

    h5 {
      margin-block: 5px 30px;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      margin-block-end: 0;
      flex: 1;
    }
  }
}
