.testimonial {
  padding-block: 50px 100px;
  overflow: hidden;
  @include desktop {
    padding-block-start: 100px;
  }
  @include tablet {
    padding-block: 50px;
  }

  @include mobile-xs {
    margin-block-start: 50px;
  }

  &-content {
    @include desktop {
      text-align: center;
      margin-block-end: 30px;
    }
    h2 {
      margin-block-end: 25px;
      font-size: 40px;

      @include desktop {
        font-size: 35px;
      }

      @include mobile {
        font-size: 30px;
        line-height: 30px;
      }
    }

    p {
      @include mobile {
        font-size: 14px;
      }
    }
  }

  &-slider {
    @include desktop {
      width: 80%;
      margin-inline: auto;
    }
    @include tablet {
      width: 95%;
    }
    @include mobile {
      width: 100%;
    }
    &-item {
      position: relative;
      padding: 30px 40px;
      background: $white;
      border-radius: 10px;
      margin-inline: 50px;
      outline: 0 !important;
      transition: 0.5s ease;

      // CSS Flexbox for equal height (BS5 natively)
      display: flex;
      flex-direction: column;
      min-height: 250px;

      @include desktop {
        margin-inline: 70px;
      }
      @include mobile {
        padding: 20px;
        margin-inline: 50px;
      }
      p {
        font-size: 14px;
        color: $text-color-dark;
        flex: 1;
      }
    }

    &-person {
      display: flex;
      align-items: center;
      margin-block-start: auto;

      .thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .content {
        margin-inline-start: 20px;

        h3 {
          font-size: 13px;
          font-weight: 500;
          margin: 0;
        }

        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }

    // Swiper Wrapper Styles
    .swiper-wrapper {
      padding-inline: 100px;
      margin-inline: -100px;
    }
  }

  // Swiper Slide Styles for Vertical Testimonial Slider
  .testimonial-slider .swiper-slide {
    transition: all 0.5s;
    box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.03);
    opacity: 0.5;
  }

  .testimonial-slider .swiper-slide-active {
    transform: scale(1.3);
    z-index: 1;
    opacity: 1;
    box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.05);
  }

  .testimonial-slider.swiper {
    height: 600px;

    @include tablet {
      height: 500px;
    }

    @include mobile {
      height: 400px;
    }
  }
}
