.testimonial {
  padding: 50px 0px 100px;
  overflow: hidden;
  @include desktop {
    padding-top: 100px;
  }
  @include tablet {
    padding: 50px 0;
  }

  @include mobile-xs {
    margin-top: 50px;
  }

  &-content {
    @include desktop {
      text-align: center;
      margin-bottom: 30px;
    }
    h2 {
      margin-bottom: 25px;
      font-size: 40px;

      @include desktop {
        font-size: 35px;
      }

      @include mobile {
        font-size: 30px;
        line-height: 30px;
      }
    }

    p {
      @include mobile {
        font-size: 14px;
      }
    }
  }

  &-slider {
    @include desktop {
      width: 80%;
      margin: 0 auto;
    }
    @include tablet {
      width: 95%;
    }
    @include mobile {
      width: 100%;
    }
    &-item {
      position: relative;
      padding: 30px 40px;
      background: $white;
      border-radius: 10px;
      margin: 0 50px;
      outline: 0 !important;
      transition: 0.5s ease;

      // CSS Flexbox for equal height (replaces matchHeight.js)
      display: flex;
      flex-direction: column;
      min-height: 250px; // Minimum height for consistency

      @include desktop {
        margin: 0 70px;
      }
      @include mobile {
        padding: 20px;
        margin: 0 50px;
      }
      p {
        font-size: 14px;
        color: $text-color-dark;
        flex: 1; // Takes available space
      }
    }

    &-person {
      display: flex;
      align-items: center;
      margin-top: auto; // Pushes to bottom (with flex parent)

      .thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .content {
        margin-left: 20px;

        h3 {
          font-size: 13px;
          font-weight: 500;
          margin: 0;
        }

        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }

    // Swiper Wrapper Styles (replaces Slick list)
    .swiper-wrapper {
      padding: 0 100px;
      margin: 0 -100px;
    }
  }

  // Swiper Slide Styles for Vertical Testimonial Slider
  // Default state (non-active slides)
  .testimonial-slider .swiper-slide {
    transition: all 0.5s;
    box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.03);
    opacity: 0.5;
  }

  // Active/Center slide
  .testimonial-slider .swiper-slide-active {
    transform: scale(1.3);
    z-index: 1;
    opacity: 1;
    box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.05);
  }

  // Vertical slider specific height
  .testimonial-slider.swiper {
    height: 600px; // For vertical slider

    @include tablet {
      height: 500px;
    }

    @include mobile {
      height: 400px;
    }
  }
}
