.video {
  background: #f9f2ea;
  padding-block-end: 100px;
  position: relative;
  border-radius: 50px;
  margin-block-start: 200px;
  margin-inline: 80px;
  @include desktop-xl {
    margin-block-start: 200px;
    margin-inline: 50px;
  }
  @include desktop-lg {
    margin-block-start: 200px;
    margin-inline: 30px;
  }
  @include desktop {
    margin-block-start: 100px;
    margin-inline: 30px;
    border-radius: 25px;
  }
  @include tablet {
    padding-block-end: 50px;
    margin-block-start: 70px;
    margin-inline: 30px;
  }

  &-iframe {
    margin-block-start: -200px;
    position: relative;
    img {
      width: 100%;
    }
    @include desktop {
      width: 80%;
      margin-block-start: -100px;
      margin-inline: auto;
    }
    @include tablet {
      width: 90%;
      margin-block-start: -70px;
      margin-inline: auto;
    }
  }

  &-icon {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    width: 90px;
    height: 90px;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      width: 70px;
      height: 70px;
    }

    @include mobile-xs {
      width: 60px;
      height: 60px;
    }

    i {
      color: red;
      position: absolute;
      text-align: center;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
  }

  &-iframe::before,
  &-iframe::after {
    content: "";
    background: rgba($color: $white, $alpha: 0.5);
    border-radius: 50%;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform-origin: top left;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include mobile {
      content: none;
    }
  }

  &-iframe::after {
    width: 140px;
    height: 140px;

    @include tablet {
      width: 120px;
      height: 120px;
    }

    @include mobile-xs {
      width: 100px;
      height: 100px;
    }
  }

  &-iframe::before {
    width: 190px;
    height: 190px;
    animation-delay: 1s;

    @include tablet {
      width: 150px;
      height: 150px;
    }

    @include mobile-xs {
      width: 120px;
      height: 120px;
    }
  }

  &-content {
    text-align: center;

    @include mobile-xs {
      margin-block-start: 50px;
    }

    h2 {
      margin-block: 60px 50px;
      line-height: 65px;

      @include tablet {
        font-size: 35px;
        line-height: 44px;
        margin-block: 40px 30px;
      }
      @include mobile {
        font-size: 24px;
        line-height: 34px;
      }
    }

    &-buttons {
      @extend .hero-content-buttons;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(0.9) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
