<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="footer-description">
          <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
          <p>
            {{ .Site.Params.copyright1 }}
              </br>
              {{ replace .Site.Params.copyright2 "{year}" now.Year | safeHTML }}
          </p>
          <ul class="footer-description-social">
            <li>
              <a href="{{ .Site.Params.social.linkedIn }}" aria-label="Link LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <!--<li>
              <a href="{{ .Site.Params.social.twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
            </li>-->
            <li>
              <a href="{{ .Site.Params.social.github }}" aria-label="Link Github"><i class="fa-brands fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Sitemap</h4>
          <div class="footer-widget-list">
            <ul>
              {{ $sitemap := .Site.Menus.sitemap }}
                {{ range $sitemap }}
                  <li><a href="{{ $.Site.LanguagePrefix }}{{ .URL }}" aria-label={{ .Name }}>{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Address</h4>
          {{ $address := .Site.Params.address }}
          <div class="footer-widget-list">
            <ul>
              <!-- <li><a href="tel:{{ $address.phone }}"><i class="ti-mobile"></i>{{ $address.phone }}</a></li> --> 
              <li><a href="mailto:{{ $address.email }}" aria-label={{ $address.email }}>{{ $address.email }}</a></li>
              <!-- <li><p><i class="ti-pin"></i>{{ $address.address }}</p></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $style := resources.Get "scss/non-critical.scss" | css.Sass | minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
<!-- {{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>