<head>
  <meta charset="utf-8" />
  <title>{{ .Site.Params.title | default .Title }}</title>

  <meta name="description" content={{ .Site.Params.description | default .Description }} />

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Fontawesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "fontawesome/css/fontawesome.css" | absURL }}">
  <link rel="stylesheet" href="{{ "fontawesome/css/brands.css" | absURL }}">
  <link rel="stylesheet" href="{{ "fontawesome/css/solid.css" | absURL }}">
  <link rel="stylesheet" href="{{ "fontawesome/css/regular.css" | absURL }}">

  {{ "<!-- Critical CSS -->" | safeHTML }}
  {{ $stylex := resources.Get "scss/critical.scss" | css.Sass | minify }}
  <link href="{{ $stylex.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />

</head>