<nav class="main-nav navbar navbar-expand-lg">
  <div class="container-fluid">
    {{ "<!-- Logo -->" | safeHTML }}
    <a href="/" class="navbar-brand" aria-label="Logo">
      <img
        class="logo-main"
        src="{{ .Site.Params.logo | absURL }}"
        alt="logo-white"
      />
    </a>
    {{ "<!-- Toogle Button -->" | safeHTML }}
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#mainNav"
      aria-label="Navigation"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="mainNav">
      {{ "<!-- Navigation Links -->" | safeHTML }}
      
      {{ $menu := .Site.Menus.main }}
      <ul class="navbar-nav ml-auto">
      {{ range $index, $element := $menu }}
        <li class="nav-item">
          <a href="{{ $.Site.LanguagePrefix }}{{ .URL }}" class="nav-link {{ if $.IsHome }}scroll{{ end }}" aria-label={{ .Name }}>{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
      <!-- <div class="account-list list-inline">
        <li class="list-inline-item">
          <a href="{{ "contact" | absURL }}" class="btn btn-sm btn-violate">
            {{ $.Site.Params.contactLabel }}
          </a>
        </li>
      </div> -->
      {{ partial "allLanguages.html" . }}
    </div>
  </div>
</nav>
