{{ $data := index site.Data site.Language.Lang }}
{{ with $data.hero }}
  {{ if .enable }}
    <section class="hero" id="main">
      <div class="hero-shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898.595 771.33">
          <circle cx="700" cy="90" r="640" fill="#ffffcc80" stroke="#6A0DAD" stroke-width="0"></circle>
        </svg>
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <span class="hero-content-subtitle"> {{ .caption }} </span>
              <h1> {{ .title }} </h1>
              <p> {{ .description }} </p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image">
              <img src={{ .image | absURL  }} alt="hero-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}